*{
    margin: 0;
    padding: 0;
    /* background-color: rgba(36, 36, 175, 0.644); */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.container{
    display: grid;
    grid-template-columns:repeat(6, 300px);
    grid-template-rows: 450px 450px 450px 450px;
    grid-gap: 10px;
    padding: 50px;
    background-color: blue;
}
.itm{
    background-color: aliceblue;
    height: 450px;
    color: wheat;
    border-radius: 10px;

}
.itm .item-image{
    border-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
    /* padding-top: 5px; */
    position:absolute;
}
section{
    background-color: white;
    color: black;
}